<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/ShortURL_Icona.png">
    <title>SRP | Error</title>
    <link rel="stylesheet" href="/css/sfondo.css">
    <link rel="stylesheet" href="/css/error/pnf.css">
</head>
<body>

<div class="container">
    <div class="contenuto">
        <h1 class="error-message">404</h1>
        <p class="error-explanation">Page Not Found</p>
        <a href="/" class="btn btn-primary">Back to homepage</a>
    </div>
</div>
</body>
</html>
